

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    overflow: hidden;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover .card-image img {
    transform: scale(1.1);
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    color: #666;
}

.title-cardapio{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}



